.dotfiles

# Ignore everything by default
*

# Allow these specific dotfiles and directories
!.config/
!.config/nvim/
!.config/nvim/lua/
!.config/nvim/lua/plugins/
!.config/nvim/lua/plugins/*.lua

!.tmux.conf
!.gitignore
